concurrent = 1
check_interval = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "Runner Docker"
  url = "https://gitlab.hl.local/"
  token = "token-gerado-automaticamente"
  executor = "docker"
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
  [runners.docker]
    tls_verify = false
    image = "docker:20.10.7-dind"
    privileged = true
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/certs/client", "/cache", "/home/vagrant/.docker/config.json:/root/.docker/config.json:ro", "/var/run/docker.sock:/var/run/docker.sock"]
    shm_size = 0
